# WhatsApp Configuration
PUBLIC_WHATSAPP_NUMBER=40753481013
PUBLIC_WHATSAPP_MESSAGE=Bună! Sunt interesat de produrile InuWood. Aș dori mai multe informații.

# Cloudinary Configuration
PUBLIC_CLOUDINARY_CLOUD_NAME=dmm7tnk7s
